body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 20px;
    padding: 20px;
    background: linear-gradient(to bottom, #031323, #031323); /* Gradient effect from white to light gray */
    color: #333;
}